* {
	box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

}

/*                    Alert Button                       */
.alert {
    padding: 10px 5px;
    background-color: #5f669a;
    color: white;
  	margin-bottom:10px;
		margin-top: 10px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    float: right;
    font-size: 40px;
    line-height: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#success {
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
}


/*                    Grid Layout                      */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(50px, auto);
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "section";
}


 .header {
  grid-area: header;
  background-color: #5f669a;

}

.nav {
 grid-area: nav;
 background-color: #45446f;
}

.aside {
 grid-area: aside;
padding-top: 0;
}


/*               header                       */
.top-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar{
  border-radius: 50%;
}
.top-nav li {
padding-bottom: 10px;

}

.circle {
  display: inline-block;
  height:6px;
  width: 6px;
  border-radius: 50%;
  background-color: #51ba83;
}


/*              nav bar                    */

ul {
  list-style-type: none;
  color: white;

}

.left-nav {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.left-nav li {
  padding-bottom: 10px;
  align-self: center;

}

        /*  main section grid */
  .main {
   grid-area: main;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 130px minmax(20px, auto) auto 340px;

   grid-template-areas:
   "search"
   "line"
   "bar"
   "donut"
  }

  .search {
    background-color: #fbfbfb;
    grid-area: search;
  }
  .lineChart {
		padding-top: 5px;
    grid-area: line;
		border-bottom: 1px solid #d2d2d2;
  }
  .barChart {
    grid-area: bar;
		padding-top: 15px;
		border-right: 1px solid #d2d2d2;

  }
  .donutChart {
    grid-area: donut;
  }

	.bar
	{
		width: 400px;
		margin: 0 auto;

	}

	.line {
		width:400px;
		margin: 0 auto;

	}
	.donut {
	margin: 0 auto;
	width: 300px;
	}

	#donutChart{
		margin-top: -31px;
	}

	.mobile {
		padding-top: 33px;
	}
/* search bar */

  #search-text-input {
    padding: 8px;
    margin-left: 5px;
    border: 4px solid grey;
    width: 275px;
    border-width: thin;
    margin-top: 10px;

  }
  .search {
    padding: 5px;
    text-align: center;
  }
	.timeline {
		margin-bottom: 0;
		margin-top: 0;
		text-align: right;
	}
	.traffic {
		margin-right: 35px;
	}
	.timeline li {
		color: black;
		list-style-type: none;
		display: inline-block;
		padding-bottom: 5px;

	}
	.Weekly{
		padding: 3px;
		border-radius: 5px;
		color:white;
		background-color: #51ba83;
	}
	.timeline li:hover {
		color: white;
		background-color: #51ba83;
		border-radius: 10%;
		padding: 5px;
	}

  h2 {
    margin-top: 40px;
    display: inline;
  }
	h3{
		padding-left: 5px;
		padding-bottom: 0px;
		margin-bottom: 5px;
	}


/*       social stats        */

	.icons {
		border: 1px solid black;
		border-color: #d2d2d2;
		background-color: #fbfbfb;
		margin-bottom: 10px;
		text-align: center;
		padding: 20px 160px;
	}

	.icons svg {
		background-color:#5f669a;
		padding: 12px;
		width: 60px;
		fill: white;

	}
	.social {
		color:#5f669a;
		margin-bottom: 0;
		display: inline-block;
	}
	.socialStats{
		margin: 0 auto;

	}

	.group {
		display: inline-block;
		padding-left: 5px;

	}
	.aside {
		margin: 0 auto;

	}
/*              section                 */

.section {
 grid-area: section;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 325px 325px 350px 300px;

 grid-template-areas:
 "members"
 "activity"
 "users"
 "settings";
}

.members {
	grid-area:members;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #d2d2d2;

}

.activity {
	 grid-area:activity;
	 padding-top: 5px;
	 padding-left: 5px;
 	 padding-right: 5px;
}
.users{
	grid-area:users;

	border-right: 1px solid #d2d2d2;

}
.settings {
	grid-area:settings;
}

/*              members section                  */
 .main {
	 border-bottom: 1px solid #d2d2d2;
 }
 .section {
	 border-top: 1px solid #d2d2d2;
 }
	.memberOne{
		padding-top: 3px;
		padding-bottom: 15px;
		border-bottom: 1px solid #d2d2d2;
	}
	.date {
		text-align: right;
		display: inline-block;
		float: right;
		margin-top:0;
		color:black;
	}

	.sectionTwo {
		padding-right:5px;
		padding-left: 5px;
	}
	.name {
	display: inline-block;
	color:black;
	margin-bottom: 0;
	text-align: center;
	font-size: 13px;
	}
	.names {
	display: inline-block;
	color:white;
	text-align: center;
	}

	.icon {
		display: inline;
		margin-bottom: -25px;
		border-radius: 50%;
	}
	.email {
		padding-left: 42px;
    display: inline-block;
		color: #535485;
		margin-top: 0;
		margin-bottom: 3px
	}

/*              activity section                  */
	.days {
		padding-left: 44px;
		display: inline-block;
		color: black;
		margin-top: 0px;
		margin-bottom: 3px;
	}
	.arrow {
		text-align: right;
		color:black;
		display: inline-block;
		float: right;
		padding-right: 5px;
		margin-top:-16px;
		font-size: 26px;
	}

/*              users section                  */
.send {
    background-color: #7377bf;
		border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 160px;
    text-align: center;
    font-size: 16px;
		display: block;
		margin: 0 auto;
		margin-bottom: 7px;
}

#select_username {
	text-align: left;
	border-radius: 5px;
	background-color: #fbfbfb;
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	padding: 10px 97px;
}
#message {
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	background-color: #fbfbfb;
	padding: 50px 95px;
	margin-top: 10px;
	margin-bottom: 10px;
}


/*              settings section
             */
.user-timezone {
	text-align: center;
	margin-top: 15px;
}
.user-timezone select{
width:60%;
padding: 40px;
margin-top: 10px;
background-color: lightgrey;
margin-bottom: 15px;
}
.on{
	margin-left: 40px;
	margin-bottom: 20px;
}
.off{
	margin-left: 70px;
	margin-bottom: 30px;
}
.switch-ios.switch-light{
	width: 20%;
	display: inline-block;
}
.switch-ios.switch-light input:checked ~ span a {
    border-color: grey;
}
.switch-ios.switch-light input:checked ~ span {
    background-color:  #7377bf;
		box-shadow: inset 0 0 0 30px #7377bf;
    }
.settingsField{
 text-align: center;
}
.settingsButton {
    border: none;
    color: white;
		margin-top: 15px;
    padding: 15px 60px;
		border-radius: 10px;
    font-size: 16px;
}
.settings {

}
.save {
	background-color: #7377bf;

}
.cancel {
	background-color: #b2b2b2;

}



/*              Media Queries                   */
								/* Tablet */

@media (min-width: 768px) {
  /* nav/header*/

.avatar {
  margin-top: -5px;
}
.circle {
  margin-top: 0;
  padding-top: 0;
}

  .left-nav li {
    margin-right: 105px;
  }

  .top-nav, .left-nav {
    flex-direction: row;
    justify-content:center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .top-nav li {
    padding-right: 85px;
  }

	.traffic {
		margin-right: 225px;
	}



/* main  */
#search-text-input {
  margin-left: 100px;
}
.main {
  grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px minmax(20px, auto) 340px;
  grid-template-areas:
  "search search"
  "line line"
  "bar donut";
}

.bar {
	padding-top: 15px;
}

.line {
	padding-top: 10px;
	width: 600px;
	margin: 0 auto;
}
.icons {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	padding: 5px 45px 15px;
	margin-bottom: 20px;
}


.section {
 grid-area: section;
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 350px 350px;

 grid-template-areas:
 "members activity"
 "users settings";
}
 .name{
	 font-size:14px;
 }

 .dailyTraffic{
	 padding-left: 5px;
 }
 .off{
 	margin-bottom: 45px;
 }
}

                    /* Desktop */

 @media (min-width:1024px) {
   /*  nav/header */
   .container {
     grid-template-columns: 80px 1fr;
     grid-template-rows:70px minmax(150px, auto);
     grid-template-areas:
     "header header"
     "nav main"
     "nav aside"
     "nav section";
   }
	 .section {
	  grid-area: section;
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: 350px 350px;

	  grid-template-areas:
	  "members activity"
	  "users settings";
	 }
	 .header{
		 padding-bottom: 10px;
	 }

   .left-nav {
     flex-direction: column;
   }

   .nav {
    padding-bottom: 750px;
   }

   .left-nav li {
     padding-bottom: 30px;
     margin-left: 60px;
   }
   .names {
     margin-right: auto;
   }

   .top-nav li {
     margin-top: 0;
     margin-bottom: 6px;
     padding-right: 25px;
   }
  .avatar{
    text-align:center;
    margin: 0 auto;
  }
  .border {
     border-left:5px solid black;
     border-width: thin;
     padding-left:15px;
     line-height: 5px;
   }
   /*  main */
     #search-text-input {
       margin-left: 500px;
     }
		 .main {
		   grid-template-columns: 1fr 1fr;
		 	grid-template-rows: 100px 550px 340px;
		   grid-template-areas:
		   "search search"
		   "line line"
		   "bar donut";
		 }
		 .line {
		 	padding-top: 10px;
		 	width: 900px;
		 	margin: 0 auto;
		 }
		 .traffic {
	 		margin-right: 500px;
	 	}

		.icons {
			margin-left: 50px;
			padding-right: 60px;
		}
		.name{
	 	 font-size:16px;
	  }
		#select_username {
			padding: 10px 145px;
		}
		#message {
			padding: 50px 140px;
		}
		.send {
		    padding: 15px 210px;
		}

}
